{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "A test template to launch EC2 instance of t2.micro type",
  "Resources" : {
    "MyEC2Instance" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "ami-04fcc97b5f6edcd89",
        "InstanceType" : "t2.micro",
        "KeyName" : "awsSSH_key",
        "Tags" : [ {"Key" : "Name", "Value" : "kafka"}],
        "AvailabilityZone" : "ap-southeast-2",        
        "SecurityGroupIds": ["sg-03dcfd207ba24daae, sg-66130614"]
      }
    }
  }
}
